<h3 class="card-header">Recuperar Contraseña</h3>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Correo Electrónico</label>
            <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">El correo electrónico es obligatorio</div>
                <div *ngIf="f.email.errors.email">Debe ingresar un correo válido</div>
            </div>
        </div>
        <div class="mb-3">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                Enviar
            </button>
            <a routerLink="/account/login" class="btn btn-link">Cancelar</a>
        </div>
    </form>
</div>